* text=auto !eol
admin/access.xml -text
admin/build/build.properties -text
admin/build/build.xml -text
admin/build/index.html svneol=native#text/html
admin/config.xml -text
admin/controller.php -text
admin/controllers/index.html -text
admin/doc/img/backend/configuration.jpg -text svneol=unset#image/jpeg
admin/doc/img/backend/create_menu_item.jpg -text svneol=unset#image/jpeg
admin/doc/img/backend/create_menu_item_advanced_options.jpg -text svneol=unset#image/jpeg
admin/doc/img/backend/index.html svneol=native#text/html
admin/doc/img/backend/page_event_edit.jpg -text svneol=unset#image/jpeg
admin/doc/img/backend/page_event_files.jpg -text svneol=unset#image/jpeg
admin/doc/img/backend/page_events.jpg -text svneol=unset#image/jpeg
admin/doc/img/frontend/event_ajax_list_css_custom.jpg -text svneol=unset#image/jpeg
admin/doc/img/index.html svneol=native#text/html
admin/doc/index.html svneol=native#text/html
admin/doc/readme.md -text
admin/eventgallery.php -text
admin/helpers/index.html -text
admin/helpers/php_markdown_extra/index.html svneol=native#text/html
admin/helpers/php_markdown_extra/markdown.php -text
admin/index.html -text
admin/language/en-GB/en-GB.com_eventgallery.ini -text
admin/language/en-GB/en-GB.com_eventgallery.sys.ini -text
admin/language/en-GB/index.html -text
admin/language/index.html -text
admin/media/css/eventgallery.css svneol=native#text/css
admin/media/css/index.html svneol=native#text/html
admin/media/css/manual.css svneol=native#text/css
admin/media/img/icons.png -text svneol=unset#image/png
admin/media/img/index.html svneol=native#text/html
admin/media/img/source/buttons.psd -text
admin/media/index.html -text
admin/models/comment.php -text
admin/models/comments.php -text
admin/models/event.php -text
admin/models/eventgallery.php -text
admin/models/fields/index.html -text
admin/models/fields/modal/folder.php -text
admin/models/fields/modal/index.html -text
admin/models/file.php -text
admin/models/folder.php -text
admin/models/index.html -text
admin/models/token.php -text
admin/sql/index.html -text
admin/sql/install/index.html svneol=native#text/html
admin/sql/install/install.mysql.sql -text
admin/sql/install/uninstall.mysql.sql -text
admin/sql/updates/2.2.0.sql -text
admin/sql/updates/2.4.0.sql -text
admin/sql/updates/index.html -text
admin/tables/comment.php -text
admin/tables/file.php -text
admin/tables/folder.php -text
admin/tables/index.html -text
admin/views/allowcommentsforfilebymail/index.html -text
admin/views/allowcommentsforfilebymail/tmpl/default.php -text
admin/views/allowcommentsforfilebymail/tmpl/index.html -text
admin/views/allowcommentsforfilebymail/view.raw.php -text
admin/views/comment/index.html -text
admin/views/comment/tmpl/default.php -text
admin/views/comment/tmpl/index.html -text
admin/views/comment/view.html.php -text
admin/views/comments/index.html -text
admin/views/comments/tmpl/default.php -text
admin/views/comments/tmpl/index.html -text
admin/views/comments/view.html.php -text
admin/views/documentation/index.html svneol=native#text/html
admin/views/documentation/tmpl/default.php -text
admin/views/documentation/tmpl/index.html svneol=native#text/html
admin/views/documentation/view.html.php -text
admin/views/event/index.html -text
admin/views/event/tmpl/default.php -text
admin/views/event/tmpl/index.html -text
admin/views/event/view.html.php -text
admin/views/eventgallery/index.html -text
admin/views/eventgallery/tmpl/default.php -text
admin/views/eventgallery/tmpl/index.html -text
admin/views/eventgallery/view.html.php -text
admin/views/files/index.html svneol=native#text/html
admin/views/files/tmpl/default.php -text
admin/views/files/tmpl/index.html svneol=native#text/html
admin/views/files/view.html.php -text
admin/views/index.html -text
admin/views/orders/index.html svneol=native#text/html
admin/views/orders/tmpl/default.php -text
admin/views/orders/tmpl/index.html svneol=native#text/html
admin/views/orders/view.html.php -text
admin/views/publishcommentbymail/index.html -text
admin/views/publishcommentbymail/tmpl/default.php -text
admin/views/publishcommentbymail/tmpl/index.html -text
admin/views/publishcommentbymail/view.raw.php -text
admin/views/publishfilebymail/index.html -text
admin/views/publishfilebymail/tmpl/default.php -text
admin/views/publishfilebymail/tmpl/index.html -text
admin/views/publishfilebymail/view.raw.php -text
admin/views/upload/index.html -text
admin/views/upload/tmpl/default.php -text
admin/views/upload/tmpl/index.html -text
admin/views/upload/view.html.php -text
/eventgallery.xml -text
/index.html svneol=native#text/html
plugins/eventgallery_help.zip -text svneol=unset#application/x-zip-compressed
site/controller.php -text
site/controllers/Checkout.php -text
site/controllers/Rest.php -text
site/controllers/index.html -text
site/eventgallery.php -text
site/helpers/buzzwords.php -text
site/helpers/captcha.php -text
site/helpers/folderprotection.php -text
site/helpers/image.php -text
site/helpers/image/default.php -text
site/helpers/image/helper.php -text
site/helpers/image/interface.php -text
site/helpers/image/local.php -text
site/helpers/image/picasa.php -text
site/helpers/imagehelpers.php -text
site/helpers/index.html -text
site/helpers/medialoader.php -text
site/helpers/sizeset.php -text
site/helpers/vendors/class.jpeg_icc.php -text
site/index.html -text
site/language/de-DE/de-DE.com_eventgallery.ini -text
site/language/en-GB/en-GB.com_eventgallery.ini -text
site/media/css/eventgallery.css -text
site/media/css/index.html svneol=native#text/html
site/media/css/mediaboxAdvBlack21.css -text
site/media/images/Resized/blank_100x146.gif -text
site/media/images/Resized/blank_108x158.gif -text
site/media/images/Resized/blank_109x158.gif -text
site/media/images/Resized/blank_175x150.gif -text
site/media/images/Resized/blank_196x121.gif -text
site/media/images/Resized/blank_197x121.gif -text
site/media/images/Resized/blank_198x121.gif -text
site/media/images/Resized/blank_199x150.gif -text
site/media/images/Resized/blank_200x121.gif -text
site/media/images/Resized/blank_202x126.gif -text
site/media/images/Resized/blank_202x127.gif -text
site/media/images/Resized/blank_203x127.gif -text
site/media/images/Resized/blank_205x126.gif -text
site/media/images/Resized/blank_205x130.gif -text
site/media/images/Resized/blank_208x132.gif -text
site/media/images/Resized/blank_209x150.gif -text
site/media/images/Resized/blank_210x130.gif -text
site/media/images/Resized/blank_210x150.gif -text
site/media/images/Resized/blank_214x320.gif -text
site/media/images/Resized/blank_220x143.gif -text
site/media/images/Resized/blank_220x144.gif -text
site/media/images/Resized/blank_220x145.gif -text
site/media/images/Resized/blank_220x146.gif -text
site/media/images/Resized/blank_220x147.gif -text
site/media/images/Resized/blank_220x148.gif -text
site/media/images/Resized/blank_220x149.gif -text
site/media/images/Resized/blank_220x160.gif -text
site/media/images/Resized/blank_220x165.gif -text
site/media/images/Resized/blank_220x220.gif -text
site/media/images/Resized/blank_226x150.gif -text
site/media/images/Resized/blank_300x200.gif -text
site/media/images/Resized/blank_300x300.gif -text
site/media/images/Resized/blank_71x121.gif -text
site/media/images/Resized/blank_72x121.gif -text
site/media/images/Resized/blank_75x150.gif -text
site/media/images/Resized/blank_76x121.gif -text
site/media/images/Resized/blank_77x127.gif -text
site/media/images/Resized/blank_78x127.gif -text
site/media/images/Resized/blank_78x150.gif -text
site/media/images/Resized/blank_81x130.gif -text
site/media/images/Resized/blank_82x132.gif -text
site/media/images/Resized/blank_85x132.gif -text
site/media/images/Resized/blank_97x146.gif -text
site/media/images/Resized/blank_98x147.gif -text
site/media/images/Resized/index.html -text
site/media/images/blank.gif -text
site/media/images/cart/buttons.png -text svneol=unset#image/png
site/media/images/cart/index.html svneol=native#text/html
site/media/images/cart/loading.gif -text svneol=unset#image/gif
site/media/images/cart/source/Shapes4FREE-ecommerce.csh -text
site/media/images/cart/source/buttons.psd -text
site/media/images/cart/source/index.html svneol=native#text/html
site/media/images/cart/source/preview-60-shopping-shapes-Shapes4FREE.jpg -text svneol=unset#image/jpeg
site/media/images/closelabel.gif -text
site/media/images/index.html svneol=native#text/html
site/media/images/loading.gif -text
site/media/images/loading_s.gif -text
site/media/images/mediabox/50.gif -text
site/media/images/mediabox/80.png -text
site/media/images/mediabox/index.html svneol=native#text/html
site/media/images/mediabox/loading.gif -text
site/media/images/mediabox/loading2.gif -text
site/media/images/mediabox/loading3.gif -text
site/media/images/next_button.png -text
site/media/images/prev_button.png -text
site/media/images/spacer.gif -text
site/media/images/zoom_button.png -text
site/media/img_joomla3/glyphicons-halflings.png -text svneol=unset#image/png
site/media/img_joomla3/index.html svneol=native#text/html
site/media/index.html svneol=native#text/html
site/media/js/JSGallery2.js -text
site/media/js/LazyLoad.js -text
site/media/js/eventgallery.js -text
site/media/js/index.html svneol=native#text/html
site/media/js/mediaboxAdv-1.3.4b.js -text
site/models/cart.php -text
site/models/comment.php -text
site/models/event.php -text
site/models/events.php -text
site/models/index.html -text
site/models/singleimage.php -text
site/router.php -text
site/views/cart.php -text
site/views/cart/index.html svneol=native#text/html
site/views/cart/tmpl/default.php -text
site/views/cart/tmpl/index.html svneol=native#text/html
site/views/cart/view.html.php -text
site/views/checkout/index.html svneol=native#text/html
site/views/checkout/tmpl/default.php -text
site/views/checkout/tmpl/index.html svneol=native#text/html
site/views/checkout/view.html.php -text
site/views/commentmail/index.html -text
site/views/commentmail/tmpl/default.php -text
site/views/commentmail/tmpl/index.html -text
site/views/commentmail/view.html.php -text
site/views/event/index.html -text
site/views/event/metadata.xml -text
site/views/event/tmpl/ajaxpaging.php -text
site/views/event/tmpl/ajaxpaging.xml -text
site/views/event/tmpl/default.php -text
site/views/event/tmpl/default.xml -text
site/views/event/tmpl/imagelist.php -text
site/views/event/tmpl/imagelist.xml -text
site/views/event/tmpl/index.html -text
site/views/event/view.html.php -text
site/views/events/index.html -text
site/views/events/metadata.xml -text
site/views/events/tmpl/default.php -text
site/views/events/tmpl/default.xml -text
site/views/events/tmpl/index.html -text
site/views/events/tmpl/list.php -text
site/views/events/tmpl/list.xml -text
site/views/events/view.html.php -text
site/views/index.html svneol=native#text/html
site/views/password/index.html svneol=native#text/html
site/views/password/tmpl/default.php -text
site/views/password/tmpl/index.html svneol=native#text/html
site/views/password/view.html.php -text
site/views/resizeimage/index.html -text
site/views/resizeimage/view.html.php -text
site/views/rest/index.html svneol=native#text/html
site/views/rest/tmpl/default.php -text
site/views/rest/tmpl/index.html svneol=native#text/html
site/views/rest/view.html.php -text
site/views/singleimage/index.html -text
site/views/singleimage/tmpl/default.php -text
site/views/singleimage/tmpl/default_commentform.php -text
site/views/singleimage/tmpl/default_comments.php -text
site/views/singleimage/tmpl/index.html -text
site/views/singleimage/view.html.php -text
tests/data/images/20111008_155119_IMG_0559.jpg -text svneol=unset#image/jpeg
tests/data/images/20111009_163636_IMG_0612.jpg -text svneol=unset#image/jpeg
tests/data/images/20111010_172737_IMG_0680.jpg -text svneol=unset#image/jpeg
tests/data/images/20111011_110409_IMG_0698.jpg -text svneol=unset#image/jpeg
tests/data/images/20111011_110419_IMG_0699.jpg -text svneol=unset#image/jpeg
tests/data/images/20111012_102520_IMG_0773.jpg -text svneol=unset#image/jpeg
tests/data/images/20111012_174749_IMG_0064.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_101933_IMG_0800.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120306_IMG_0814.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120308_IMG_0815.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120357_IMG_0818.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120409_IMG_0819.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120659_IMG_0822.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120705_IMG_0823.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120742_IMG_0825.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120751_IMG_0826.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120847_IMG_0828.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120913_IMG_0830.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120925_IMG_0831.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_120959_IMG_0832.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_121015_IMG_0833.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_121202_IMG_0841.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_121252_IMG_0842.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_121300_IMG_0843.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_121424_IMG_0844.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_123521_IMG_0846.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_124420_IMG_0851.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_180718_IMG_0859.jpg -text svneol=unset#image/jpeg
tests/data/images/20111013_180745_IMG_0861.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_102627_IMG_0878.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_102820_IMG_0880.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_104810_IMG_0883.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_104820_IMG_0884.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_104940_IMG_0887.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_104948_IMG_0888.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_105131_IMG_0892.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_105534_IMG_0904.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_110135_IMG_0915.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_110214_IMG_0916.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_114541_IMG_0928.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_165524_IMG_0963.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_170132_IMG_0976.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_170159_IMG_0977.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_170240_IMG_0978.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_170939_IMG_0994.jpg -text svneol=unset#image/jpeg
tests/data/images/20111014_175833_IMG_1160.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_102020_IMG_1291-Bearbeitet.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_105505_IMG_1305.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_105507_IMG_0085.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_105742_IMG_1309-Bearbeitet.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_110757_IMG_1323.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_114530_IMG_1352-Bearbeitet.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_120451_IMG_1365.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_120532_IMG_1367.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_123134_IMG_1377.jpg -text svneol=unset#image/jpeg
tests/data/images/20111016_123409_IMG_1378.jpg -text svneol=unset#image/jpeg
tests/data/images/20111017_105822_IMG_1465.jpg -text svneol=unset#image/jpeg
tests/data/images/20111017_175057_IMG_1540.jpg -text svneol=unset#image/jpeg
tests/data/images/20111017_180855_IMG_1576.jpg -text svneol=unset#image/jpeg
tests/data/images/20111018_105842_IMG_1639-Bearbeitet.jpg -text svneol=unset#image/jpeg
tests/data/images/20111018_110553_IMG_1650.jpg -text svneol=unset#image/jpeg
tests/data/images/20111019_114427_IMG_1705.jpg -text svneol=unset#image/jpeg
tests/data/images/20111019_120402_IMG_1719.jpg -text svneol=unset#image/jpeg
tests/data/images/20111020_120830_IMG_1884.jpg -text svneol=unset#image/jpeg
tests/system/servers/configdef.php.dist -text
tests/system/webdriver/Pages/Eventgallery/EventUploadPage.php -text
tests/system/webdriver/Pages/Eventgallery/EventsPage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndAjaxListEventPage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndBaseEventPage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndBasePage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndEventsPage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndImageListEventPage.php -text
tests/system/webdriver/Pages/Eventgallery/FrontEndPageableListEventPage.php -text
tests/system/webdriver/Pages/Extensions/ModuleEditPage.php -text
tests/system/webdriver/Pages/Extensions/ModuleManagerPage.php -text
tests/system/webdriver/Pages/Menus/MenuEditPage.php -text
tests/system/webdriver/Pages/Menus/MenuItemEditPage.php -text
tests/system/webdriver/Pages/Menus/MenuItemsManagerPage.php -text
tests/system/webdriver/Pages/Menus/MenuManagerPage.php -text
tests/system/webdriver/Pages/System/AdminEditPage.php -text
tests/system/webdriver/Pages/System/AdminLoginPage.php -text
tests/system/webdriver/Pages/System/AdminManagerPage.php -text
tests/system/webdriver/Pages/System/AdminPage.php -text
tests/system/webdriver/Pages/System/ControlPanelPage.php -text
tests/system/webdriver/Pages/System/GenericAdminPage.php -text
tests/system/webdriver/Pages/System/GlobalConfigurationPage.php -text
tests/system/webdriver/Pages/System/InstallationPage.php -text
tests/system/webdriver/Pages/Users/GroupEditPage.php -text
tests/system/webdriver/Pages/Users/GroupManagerPage.php -text
tests/system/webdriver/Pages/Users/LevelEditPage.php -text
tests/system/webdriver/Pages/Users/LevelManagerPage.php -text
tests/system/webdriver/Pages/Users/UserEditPage.php -text
tests/system/webdriver/Pages/Users/UserManagerPage.php -text
tests/system/webdriver/Pages/Users/UserNotesEditPage.php -text
tests/system/webdriver/Pages/Users/UserNotesManagerPage.php -text
tests/system/webdriver/SeleniumClient/Alert.php -text
tests/system/webdriver/SeleniumClient/BrowserType.php -text
tests/system/webdriver/SeleniumClient/By.php -text
tests/system/webdriver/SeleniumClient/CapabilityType.php -text
tests/system/webdriver/SeleniumClient/Cookie.php -text
tests/system/webdriver/SeleniumClient/DesiredCapabilities.php -text
tests/system/webdriver/SeleniumClient/Exceptions.php -text
tests/system/webdriver/SeleniumClient/Http/Exceptions.php -text
tests/system/webdriver/SeleniumClient/Http/HttpClient.php -text
tests/system/webdriver/SeleniumClient/Http/HttpFactory.php -text
tests/system/webdriver/SeleniumClient/Http/SeleniumAdapter.php -text
tests/system/webdriver/SeleniumClient/PlatformType.php -text
tests/system/webdriver/SeleniumClient/SelectElement.php -text
tests/system/webdriver/SeleniumClient/TargetLocator.php -text
tests/system/webdriver/SeleniumClient/WebDriver.php -text
tests/system/webdriver/SeleniumClient/WebDriverWait.php -text
tests/system/webdriver/SeleniumClient/WebElement.php -text
tests/system/webdriver/bootstrap.php -text
tests/system/webdriver/tests/JoomlaWebdriverTestCase.php -text
tests/system/webdriver/tests/TestSuite.php -text
tests/system/webdriver/tests/eventgallery/backend/EventTest.php -text
tests/system/webdriver/tests/eventgallery/frontend/ImageListTest.php -text
tests/system/webdriver/tests/phpunit.php -text
tests/system/webdriver/tests/phpunit.xml.dist -text
