* text=auto !eol
admin/access.xml -text
admin/build/build.properties -text
admin/build/build.xml -text
admin/config.xml -text
admin/controller.php -text
admin/controllers/index.html -text
admin/eventgallery.php -text
admin/helpers/index.html -text
admin/index.html -text
admin/language/en-GB/en-GB.com_eventgallery.ini -text
admin/language/en-GB/en-GB.com_eventgallery.sys.ini -text
admin/language/en-GB/index.html -text
admin/language/index.html -text
admin/media/index.html -text
admin/models/comment.php -text
admin/models/comments.php -text
admin/models/event.php -text
admin/models/eventgallery.php -text
admin/models/fields/index.html -text
admin/models/fields/modal/folder.php -text
admin/models/fields/modal/index.html -text
admin/models/file.php -text
admin/models/folder.php -text
admin/models/index.html -text
admin/models/token.php -text
admin/sql/index.html -text
admin/sql/install/install.mysql.sql -text
admin/sql/install/uninstall.mysql.sql -text
admin/sql/updates/2.2.0.sql -text
admin/sql/updates/2.4.0.sql -text
admin/sql/updates/index.html -text
admin/tables/comment.php -text
admin/tables/file.php -text
admin/tables/folder.php -text
admin/tables/index.html -text
admin/views/allowcommentsforfilebymail/index.html -text
admin/views/allowcommentsforfilebymail/tmpl/default.php -text
admin/views/allowcommentsforfilebymail/tmpl/index.html -text
admin/views/allowcommentsforfilebymail/view.raw.php -text
admin/views/comment/index.html -text
admin/views/comment/tmpl/default.php -text
admin/views/comment/tmpl/index.html -text
admin/views/comment/view.html.php -text
admin/views/comments/index.html -text
admin/views/comments/tmpl/default.php -text
admin/views/comments/tmpl/index.html -text
admin/views/comments/view.html.php -text
admin/views/event/index.html -text
admin/views/event/tmpl/default.php -text
admin/views/event/tmpl/index.html -text
admin/views/event/view.html.php -text
admin/views/eventgallery/index.html -text
admin/views/eventgallery/tmpl/default.php -text
admin/views/eventgallery/tmpl/index.html -text
admin/views/eventgallery/view.html.php -text
admin/views/index.html -text
admin/views/publishcommentbymail/index.html -text
admin/views/publishcommentbymail/tmpl/default.php -text
admin/views/publishcommentbymail/tmpl/index.html -text
admin/views/publishcommentbymail/view.raw.php -text
admin/views/publishfilebymail/index.html -text
admin/views/publishfilebymail/tmpl/default.php -text
admin/views/publishfilebymail/tmpl/index.html -text
admin/views/publishfilebymail/view.raw.php -text
admin/views/upload/index.html -text
admin/views/upload/tmpl/default.php -text
admin/views/upload/tmpl/index.html -text
admin/views/upload/view.html.php -text
/eventgallery.xml -text
/script.php -text
site/controller.php -text
site/controllers/Checkout.php -text
site/controllers/Rest.php -text
site/controllers/index.html -text
site/eventgallery.php -text
site/helpers/buzzwords.php -text
site/helpers/captcha.php -text
site/helpers/image.php -text
site/helpers/imagehelpers.php -text
site/helpers/index.html -text
site/helpers/picasa.php -text
site/index.html -text
site/language/de-DE/de-DE.com_eventgallery.ini -text
site/language/en-GB/en-GB.com_eventgallery.ini -text
site/media/css/eventgallery.css -text
site/media/css/mediaboxAdvBlack21.css -text
site/media/images/Resized/blank_100x146.gif -text
site/media/images/Resized/blank_108x158.gif -text
site/media/images/Resized/blank_109x158.gif -text
site/media/images/Resized/blank_175x150.gif -text
site/media/images/Resized/blank_196x121.gif -text
site/media/images/Resized/blank_197x121.gif -text
site/media/images/Resized/blank_198x121.gif -text
site/media/images/Resized/blank_199x150.gif -text
site/media/images/Resized/blank_200x121.gif -text
site/media/images/Resized/blank_202x126.gif -text
site/media/images/Resized/blank_202x127.gif -text
site/media/images/Resized/blank_203x127.gif -text
site/media/images/Resized/blank_205x126.gif -text
site/media/images/Resized/blank_205x130.gif -text
site/media/images/Resized/blank_208x132.gif -text
site/media/images/Resized/blank_209x150.gif -text
site/media/images/Resized/blank_210x130.gif -text
site/media/images/Resized/blank_210x150.gif -text
site/media/images/Resized/blank_214x320.gif -text
site/media/images/Resized/blank_220x143.gif -text
site/media/images/Resized/blank_220x144.gif -text
site/media/images/Resized/blank_220x145.gif -text
site/media/images/Resized/blank_220x146.gif -text
site/media/images/Resized/blank_220x147.gif -text
site/media/images/Resized/blank_220x148.gif -text
site/media/images/Resized/blank_220x149.gif -text
site/media/images/Resized/blank_220x160.gif -text
site/media/images/Resized/blank_220x165.gif -text
site/media/images/Resized/blank_220x220.gif -text
site/media/images/Resized/blank_226x150.gif -text
site/media/images/Resized/blank_300x200.gif -text
site/media/images/Resized/blank_300x300.gif -text
site/media/images/Resized/blank_71x121.gif -text
site/media/images/Resized/blank_72x121.gif -text
site/media/images/Resized/blank_75x150.gif -text
site/media/images/Resized/blank_76x121.gif -text
site/media/images/Resized/blank_77x127.gif -text
site/media/images/Resized/blank_78x127.gif -text
site/media/images/Resized/blank_78x150.gif -text
site/media/images/Resized/blank_81x130.gif -text
site/media/images/Resized/blank_82x132.gif -text
site/media/images/Resized/blank_85x132.gif -text
site/media/images/Resized/blank_97x146.gif -text
site/media/images/Resized/blank_98x147.gif -text
site/media/images/Resized/index.html -text
site/media/images/blank.gif -text
site/media/images/cart/buttons.png -text svneol=unset#image/png
site/media/images/cart/source/Shapes4FREE-ecommerce.csh -text
site/media/images/cart/source/buttons.psd -text
site/media/images/cart/source/preview-60-shopping-shapes-Shapes4FREE.jpg -text svneol=unset#image/jpeg
site/media/images/closelabel.gif -text
site/media/images/loading.gif -text
site/media/images/loading_s.gif -text
site/media/images/mediabox/50.gif -text
site/media/images/mediabox/80.png -text
site/media/images/mediabox/loading.gif -text
site/media/images/mediabox/loading2.gif -text
site/media/images/mediabox/loading3.gif -text
site/media/images/next_button.png -text
site/media/images/prev_button.png -text
site/media/images/spacer.gif -text
site/media/images/zoom_button.png -text
site/media/js/JSGallery2.js -text
site/media/js/LazyLoad.js -text
site/media/js/eventgallery.js -text
site/media/js/mediaboxAdv-1.3.4b.js -text
site/models/comment.php -text
site/models/event.php -text
site/models/events.php -text
site/models/index.html -text
site/models/singleimage.php -text
site/router.php -text
site/views/cart.php -text
site/views/cart/index.html svneol=native#text/html
site/views/cart/tmpl/default.php -text
site/views/cart/tmpl/index.html svneol=native#text/html
site/views/cart/view.html.php -text
site/views/checkout/index.html svneol=native#text/html
site/views/checkout/tmpl/default.php -text
site/views/checkout/tmpl/index.html svneol=native#text/html
site/views/checkout/view.html.php -text
site/views/commentmail/index.html -text
site/views/commentmail/tmpl/default.php -text
site/views/commentmail/tmpl/index.html -text
site/views/commentmail/view.html.php -text
site/views/event/index.html -text
site/views/event/metadata.xml -text
site/views/event/tmpl/ajaxpaging.php -text
site/views/event/tmpl/ajaxpaging.xml -text
site/views/event/tmpl/default.php -text
site/views/event/tmpl/default.xml -text
site/views/event/tmpl/imagelist.php -text
site/views/event/tmpl/imagelist.xml -text
site/views/event/tmpl/index.html -text
site/views/event/view.html.php -text
site/views/events/index.html -text
site/views/events/metadata.xml -text
site/views/events/tmpl/default.php -text
site/views/events/tmpl/default.xml -text
site/views/events/tmpl/index.html -text
site/views/events/tmpl/list.php -text
site/views/events/tmpl/list.xml -text
site/views/events/view.html.php -text
site/views/index.html svneol=native#text/html
site/views/resizeimage/index.html -text
site/views/resizeimage/view.html.php -text
site/views/rest/index.html svneol=native#text/html
site/views/rest/tmpl/default.php -text
site/views/rest/tmpl/index.html svneol=native#text/html
site/views/rest/view.html.php -text
site/views/singleimage/index.html -text
site/views/singleimage/tmpl/default.php -text
site/views/singleimage/tmpl/default_commentform.php -text
site/views/singleimage/tmpl/default_comments.php -text
site/views/singleimage/tmpl/default_thumb.php -text
site/views/singleimage/tmpl/index.html -text
site/views/singleimage/view.html.php -text
