<?xml version="1.0" encoding="utf-8"?>
<config>

<fieldset name="Eventgallery" label="General">

		<field 	name="adminmail" 
				id="adminmail" 
				type="text" 
				default="" 
				label="Admin-Mail" 
				rows="3" 
				cols="50" 
				description="Email-Adresse mit Kommas getrennt." />
		
		
		<field name="use_comments" type="radio" default="0" label="use comments" description="Use Comments">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>

		<field name="use_cart" type="radio" default="1" label="use cart" description="Use Cart">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>

		
</fieldset>
<fieldset name="accesscontrol" label="Permissions">
 
		<field name="asset_id" type="hidden" filter="unset" /> 
 
		<field
			name="rules"
			type="rules"
			label="Permissions"
			translate_label="false"
			filter="rules"
			validate="rules"
			class="inputbox"
			component="com_eventgallery"
			section="component" />
	</fieldset>
</config>
