<?xml version="1.0" encoding="utf-8"?>
<config>

<fieldset name="general" label="COM_EVENTGALLERY_EVENTS_OPTIONS_GENERAL_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_GENERAL_DESC">

		<field 	name="adminmail" 
				type="text" 
				default="" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINMAIL_LABEL" 
				rows="3" 
				cols="50" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINMAIL_DESCRIPTION" />
		
		
		<field name="use_comments" type="radio" class="btn-group" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		

		
</fieldset>
<fieldset name="image" label="COM_EVENTGALLERY_EVENTS_OPTIONS_IMAGE_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_IMAGE_DESC">
		<field name="use_legacy_image_rendering" type="radio" class="btn-group" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="image_quality" type="integer" first="40" last="95" step="1" default="85" label="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_DESC"/>
		
		<field name="use_sharpening" type="radio" class="btn-group" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		
		<field 	name="image_sharpenMatrix" 
				type="text" 
				default="[[-1,-1,-1],[-1,16,-1],[-1,-1,-1]]" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_LABEL" 
				rows="1" 
				cols="50" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_DESCRIPTION" />
</fieldset>

<fieldset name="cart" label="COM_EVENTGALLERY_EVENTS_OPTIONS_CART_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_CART_DESC">
		<field name="use_cart" type="radio" class="btn-group" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_cart_connector" type="radio" class="btn-group" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>	
		
		
		<field 	name="cart_connector_link" 
				type="text" 
				default="http://mydomain.com/${folder}/${fileBase}" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_LABEL" 
				rows="1" 
				cols="150" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_DESCRIPTION" />
				
		<field name="cart_connector_link_rel" 
			type="text" 
			default="nofollow" 
			rows="1" 
			cols="150" 
			label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_LABEL" 
			description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_DESCRIPTION" />
		
</fieldset>

<fieldset name="checkout" label="COM_EVENTGALLERY_EVENTS_OPTIONS_CHECKOUT_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_CHECKOUT_DESC">
		<field name="use_terms_conditions_checkbox" type="radio" class="btn-group" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USETERMCONDITIONS_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USETERMCONDITIONS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
</fieldset>

<fieldset name="social" label="COM_EVENTGALLERY_EVENTS_OPTIONS_SOCIAL_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_SOCIAL_DESC">
		<field name="use_social_sharing_button" type="radio" class="btn-group" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field 	name="social_sharing_addthis_pubid" 
				type="text" 
				default="" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_ADDTHIS_ID_LABEL" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_ADDTHIS_ID_DESCRIPTION" />
</fieldset>

<fieldset name="accesscontrol" label="Permissions">
 
		<field name="asset_id" type="hidden" filter="unset" /> 
 
		<field
			name="rules"
			type="rules"
			label="Permissions"
			translate_label="false"
			filter="rules"
			validate="rules"
			class="inputbox"
			component="com_eventgallery"
			section="component" />
	</fieldset>
</config>
